* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;
}

/* Navbar */

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 40px;
    color: white;
    margin-left: 10px;
}

header {
    height: 10vh;
    background-color:rgb(139, 52, 106);
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar {
    z-index: 100;
    align-self: center;
    padding-top: 15px;
    background-color: rgb(139, 52, 106) !important;
}

.nav-link {
    color: white;
    font-size: 20px;
    padding: 10px;
}

.navbar-toggler {
    border-color: black;
    background-color: rgba(228, 104, 180, 0.555)
}

/* Seccion Hero */

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 80vh;
    position: relative;
}

.carousel-item {
    height: 80vh;
    overflow: hidden;
}

.carousel-item img {
    image-rendering: optimizeSpeed;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

/* .carrousel {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    background-image: url("../img/presentacion-hero.jpg");
    background-size: cover;
} */

.texto-nombre-tienda {
    z-index: 30;
    background-color: rgb(139, 52, 106, 50%);
    font-size: 6.5em;
    color: white;
    padding-inline: 30px;
    border: 3px solid white;
    margin-bottom: 95px;
    position: absolute;
}

.texto-productos {
    position: absolute;
    z-index: 30;
    font-size: 2em;
    color: black;
    margin-top: 95px;
}
.boton-presentacion {
    height: 10vh;
    background-color: rgb(139, 52, 106);
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-ofertas {
    background-color: rgb(228, 162, 228);
    color: black;
    padding: 5px 15px;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    text-decoration: none;
}

/* Seccion ofertas */

.ofertas {
    height: auto;
    padding: 10px;
    background-color: rgb(228, 162, 228);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* Tarjetas */

.producto-tarjeta {
    border: 2px solid;
    box-shadow: 5px 5px black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    background-color: rgb(139, 52, 106);
    box-sizing: border-box;
    width: 300px;
    height: 400px;
}

.ofertas div img {
    height: 280px;
    width: 280px;
}

.producto-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nombre-producto {
    font-size: 1.3em;
    color: black;
    font-weight: bold;
    margin: 0;
}

.precio-producto {
    font-size: 1.5em;
    color: white;
    margin: 0;
}

.boton-carrito {
    background-color: black;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    padding: 10px;
    background-color: black;
}

footer h2 {
    color: white;
    margin-bottom: 5px;
}

footer a img {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 7px;
}

/* Páginas en construcción */

.contenido-vacio {
    background-color: violet;
    box-sizing: border-box;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido-vacio img {
    height: 300px;
    width: 300px;
}

.contenido-vacio h2 {
    color: white;
}

@media (max-width: 720px) {
    .texto-nombre-tienda {
        font-size: 5em;
        margin-bottom: 80px;
    }

    .texto-productos {
        margin-top: 80px;
        font-size: 1.5em;
    }
}

@media (max-width: 450px) {
        .navbar-brand h1 {
        display: none;
    }
}

@media (max-width: 550px) {
    .texto-nombre-tienda {
        font-size: 3em;
        margin-bottom: 55px;
    }

    .texto-productos {
        margin-top: 55px;
        font-size: 1.2em;
    }
}

@media (max-width: 400px) {
    .texto-nombre-tienda {
        font-size: 2em;
        margin-bottom: 45px;
    }

    .texto-productos {
        margin-top: 45px;
        font-size: 0.9em;
    }
}